/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}
html {
  font-size: 16px;
}
body {
  background-color: #ffffff;
  font-family: var(--main-font);
  text-align: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.slider {
  background: rgb(26, 25, 21) url(../img/mobile/foto-slider-m.png) center
    no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 64px;
}
.navigation {
  padding-bottom: 30px;
}
.navigation-btn {
  border: none;
  background-color: inherit;
  font-size: 0.875rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0);
}
.navigation-btn:hover {
  border-color: rgb(255, 255, 255);
}
.logo-link {
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1px;
  display: block;
  width: max-content;
}
.title {
  font-size: 1.875rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.sub-title {
  font-size: 1.125rem;
  font-family: var(--secondary-font);
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-bottom: 16px;
  font-weight: 300;
}
.head-btn {
  border: none;
  font-size: 0.875rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  margin-bottom: 136px;
  padding: 14px 50px;
}
.partner {
  padding-bottom: 56px;
}
.partner-title-row {
  margin-bottom: 14px;
}
.partner-list-row {
  margin-bottom: 22px;
}
.partner-title {
  font-size: 1.375rem;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 14px;
  letter-spacing: 1px;
}
.partner-list-items {
  max-width: 220px;
  margin: 0 auto;
  position: relative;
}
.partner-list-items-foto {
  margin: 0 auto;
  margin-bottom: 18px;
}
.wrapper-partner-list-items-foto::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  left: 134px;
  top: 84px;
}
.partner-list-items-tv::after {
  background-image: url(../img/mobile/icon/icon1.png);
  background-color: rgb(255, 78, 80);
}
.partner-list-items-vase::after {
  background-image: url(../img/mobile/icon/icon2.png);
  background-color: rgb(255, 165, 7);
}
.partner-list-items-cup::after {
  background-image: url(../img/mobile/icon/icon3.png);
  background-color: rgb(28, 215, 173);
}
.partner-list-items-telegram::after {
  background-image: url(../img/mobile/icon/icon4.png);
  background-color: rgb(78, 115, 219);
}
.partner-list-items-title {
  font-size: 0.875rem;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 18px;
}
.partner-list-items-description {
  font-size: 0.875rem;
  font-family: var(--secondary-font);
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
  font-weight: 300;
}
.partner-btn {
  border: none;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 78, 80);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  font-size: 0.875rem;
  color: rgb(255, 78, 80);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 10px 72px;
}
@media (max-width: 767px) {
  .title {
    padding-bottom: 5px;
  }
  .title,
  .partner-title {
    max-width: 280px;
    margin: 0 auto;
  }
  .partner-list-items:not(:last-child) {
    margin-bottom: 26px;
  }
  .sub-title-transfer {
    display: block;
  }
  .wrapper {
    margin: 0 auto;
    margin-bottom: 112px;
  }
  .logo-link {
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .navigation {
    max-width: 690px;
    margin: 0 auto;
    padding-bottom: 140px;
  }
  .slider {
    background-image: url(../img/tablet/foto-slider-t.png);
    padding-top: 36px;
  }
  .title {
    margin: 0 auto;
    font-size: 3.25rem;
    margin-bottom: 24px;
  }
  .sub-title {
    font-size: 1.5rem;
    margin-bottom: 32px;
  }
  .head-btn {
    margin-bottom: 232px;
    padding: 14px 22px;
  }
  .partner {
    padding-bottom: 40px;
  }
  .partner-title-row {
    margin-bottom: 24px;
  }
  .partner-list-row {
    margin-bottom: 30px;
  }
  .partner-list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 492px;
    flex-wrap: wrap;
  }
  .partner-list-items:nth-child(2) {
    order: 1;
  }
  .partner-list-items:last-child {
    order: 2;
  }
  .partner-btn {
    padding: 10px 28px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .partner-list-items:nth-child(2n + 1) {
    margin-bottom: 56px;
  }
}
@media (min-width: 992px) {
  .slider {
    background-image: url(../img/desktop/foto-slider-d.png);
    padding-top: 36px;
  }
  .navigation {
    max-width: 940px;
  }
  .partner {
    padding-bottom: 72px;
  }
  .partner-list {
    max-width: 940px;
  }
}
